.newBugu {
  width: 200px;
  height: 150px;
  margin-bottom: 40px;
}

.newBugu img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.firstBlock_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg1 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.firstBlock_logo {
  z-index: 2;
  width: 40%;
}

.fs1 {
  background: linear-gradient(90deg, #800bf5, #25c6f9);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.firstMain_text {
  width: 100%;
  font-family: "Russo One", sans-serif !important;

  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  z-index: 3;
}
.firstMain_text > p {
  width: 100%;
}
.firstMain_text > h2 {
  width: 100%;
  font-size: 2.5em;
}
#firstDate {
  font-weight: 400;
  font-size: 0.7em;
}
.secondBlock_text {
  margin-bottom: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
}

.secondBlock_sponsors {
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.square {
  width: 130px !important;
  height: 130px !important;
}
.logopat2 {
  width: 17rem !important;
}
.logopat {
  width: 10rem !important;
}
.logobig {
  width: 200px;
  height: 50px;
}
.logobigb {
  width: 90%;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.foel {
  width: 130px !important;
  height: 130px;
  background-size: cover;
}
.logobigbb {
  width: 12rem;
  margin: 0 auto;
}
.logobigbb2 {
  width: 9rem;
}
.logobigm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.mainBgColor {
  /* position: absolute; */
  top: 20;
  width: 90%;
  z-index: 1;
  width: 400px;
  height: 400px;
}

.heroPlanet {
  width: 400px;
  height: 400px;
  background: url("../../../assets/elements/planet.svg") center/contain
    no-repeat;
}

.heroWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@keyframes AnimationName {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
.heroReg {
  margin-top: 15px;
  border: none;
  color: #fff;
  width: 300px;
  font-size: 26px;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: AnimationName 2s ease infinite;
  background: linear-gradient(90deg, #25c6f9, #800bf5);
}

.heroReg:hover {
  opacity: 0.9;
}

.logoCom {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: serif;
}
#irsen {
  width: 300px !important;
  height: 100px !important;
  background-size: cover;
}

#hoster {
  width: 120px;
  height: 120px;
}

.itFest {
  width: 100%;
  font-size: 5.5em !important;
  position: relative;
  top: 105px;
}
.itFest span {
  color: #25c6f9;
}
.it2024 {
  width: 100%;
  font-size: 8.5em;
}

.cyberKr {
  font-size: 5rem;
  position: relative;
  top: -90px;
}
.cyberKr span {
  color: #25c6f9;
}

@media screen and (max-width: 1345px) {
  #firstDate {
    font-size: 0.7em;
  }

  .itFest {
    width: 100%;
    font-size: 3.5em !important;
    position: relative;
    top: 75px;
  }
  .it2024 {
    width: 100%;
    font-size: 5.5em;
  }

  .cyberKr {
    font-size: 3.3rem;
    position: relative;
    top: -65px;
  }
}
@media screen and (max-width: 1024px) {
  .logobigbb {
    width: 7rem;
  }
  .logobigbb2 {
    width: 4rem;
  }
}
@media screen and (max-width: 930px) {
  .itFest {
    width: 100%;
    font-size: 2.5em !important;
    position: relative;
    top: 50px;
  }
  .it2024 {
    width: 100%;
    font-size: 4em;
  }

  .cyberKr {
    font-size: 2.4rem;
    position: relative;
    top: -39px;
  }
  .secondBlock_sponsors {
    gap: 10px;
  }
  .secondBlock_sponsors > img {
    margin: 1rem;
    /* flex-direction: column; */
  }
  .logopat,
  .logopat2 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .partSlide {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .itFest {
    width: 100%;
    font-size: 2.2em !important;
    position: relative;
    top: 35px;
  }
  .it2024 {
    width: 100%;
    font-size: 3.5em;
  }

  .cyberKr {
    font-size: 1.7rem;
    position: relative;
    top: -30px;
  }
  #cifrocom {
    width: 300px !important;
    height: 100px !important;
  }

  .logobigb {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #kia {
    order: 4;
    width: 200px !important;
    height: 120px !important;
  }
  .foel {
    order: 5;
    grid-column: 1/3;
  }
  #ros {
    order: 3;
  }
  #mer {
    order: 2;
  }
  #jkm {
    width: 300px;
    height: 150px;
    order: 1;
  }
  .logobigbb,
  .logobigbb2 {
    margin: 0 auto;
  }

  .logopat {
    margin: 1rem;
  }

  #logo6 {
    width: 300px;
    height: 150px;
  }
  .firstMain_text {
    font-size: 2em;
    width: 100%;
  }
  #firstDate {
    font-size: 1em;
  }
  .heroWrapper {
    height: fit-content;
  }
  .firstBlock_main {
    flex-direction: column;
    justify-content: center;
  }
  .bg1 {
    background-size: cover;
    background-position: center;
  }
  .firstBlock_logo {
    width: 55%;
  }

  .newBugu {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .firstMain_text {
    width: 100%;
  }

  .firstBlock_logo {
    width: 100%;
  }
  .logopat {
    width: 6rem !important;
  }
  .logopat2 {
    width: 10rem !important;
  }
}
@media screen and (max-width: 375px) {
  .firstMain_text {
    width: 100%;
  }
}
